project:
  type: website
  output-dir: docs
  render:
    - index.qmd

website:
  title: ""
  google-analytics: G-CRVC0BS9GY
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: 
      light: cosmo
      dark: solar
    css: styles.css
    toc: true



